$primary: #41308d;
$primary-40: lighten($primary, $amount: 40);
$background-primary: #130f23;
// $background-primary: #171824;
$white: #ffffff;
$grey: #a0aec0;

// Font Import
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: $background-primary;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

// Utilities
.text-accent {
  color: $primary-40;
}
.spacer {
  margin: 2rem 0;
  height: 10px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  background: $background-primary;
  z-index: 99999;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    width: 80%;
    @media (max-width: 768px) {
      width: 90%;
    }
    .logo {
      width: 50px;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .nav-links {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      font-weight: 300;
      @media (max-width: 768px) {
        justify-content: flex-end;
      }
      li {
        display: inline-block;
        a {
          color: $white;
          text-decoration: none;

          &:hover {
            color: $primary-40;
          }
        }
      }

      .hide-mobile {
        @media (max-width: 768px) {
          display: none !important;
        }
      }

      .resume {
        -webkit-box-align: center;
        align-items: center;
        -webkit-appearance: none;
        background-color: $primary;
        font-weight: 600;
        height: 2.5rem;
        -webkit-box-pack: center;
        justify-content: center;
        line-height: 1.2;
        min-width: 2.5rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        position: relative;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        border-radius: 0.25rem;
        outline: none;
        transition: all 250ms ease 0s;
      }
    }
  }
}

main {
  margin-top: 15rem;

  @media (max-width: 768px) {
    margin-top: 12rem;
  }

  .container {
    color: $white;
    width: 80%;
    margin: 2rem auto;

    @media (max-width: 768px) {
      width: 90%;
    }

    //   Introduction

    .introduction {
      h2,
      p {
        margin: 2.5rem 0;
      }

      h2 {
        font-size: 6rem;
        font-weight: 700;

        @media (max-width: 768px) {
          font-size: 2.5rem;
        }
      }

      &--details {
        color: $grey;
        width: 50%;
        line-height: 2;

        @media (max-width: 900px) {
          width: 80%;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      &--button {
        color: $primary-40;
        text-decoration: none;
        border: 2px solid $primary-40;
        -webkit-box-align: center;
        -webkit-appearance: none;
        font-weight: 600;
        height: 3rem;
        -webkit-box-pack: center;
        line-height: 1.2;
        min-width: 2.5rem;
        padding: 1.5rem 2rem;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        border-radius: 0.25rem;
        outline: none;
        transition: all 250ms ease 0s;

        &:hover {
          background: $primary-40;
          color: $white;
        }
      }
    }

    .about {
      margin: 20rem 0;

      &__header {
        margin: 4rem 0;
        h2 {
          font-size: 3rem;
          span {
            font-family: "Fira Code", monospace;
          }
          @media (max-width: 768px) {
            font-size: 2.5rem;
          }
        }
      }

      &__content {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;

        @media (max-width: 900px) {
          grid-template-columns: 100%;
        }
        p {
          margin: 2.5rem 0;
          color: $grey;
          line-height: 2;
        }
        .technologies {
          color: $grey;
          margin-left: 1.5rem;
          display: flex;
          justify-content: space-between;
          width: 60%;

          ul {
            li {
              line-height: 2;
            }
          }

          @media (max-width: 768px) {
            width: 70%;
          }
        }

        .avatar {
          padding: 0 4rem;

          @media (max-width: 768px) {
            padding: 0;
          }
          img {
            max-width: 100%;
            height: auto;
            filter: grayscale(100);
            border-radius: 0.25rem;
          }
        }
      }
    }

    .projects {
      margin: 20rem 0;

      &__header {
        margin: 4rem 0;
        h2 {
          font-size: 3rem;
          span {
            font-family: "Fira Code", monospace;
          }
          @media (max-width: 768px) {
            font-size: 2.5rem;
          }
        }
      }
      .all-projects > div {
        margin: 2rem 0;
      }

      &__card {
        width: 100%;
        height: auto;
        background: #252047;
        border-radius: 0.4rem;
        cursor: pointer;
        padding: 3.2rem;
        display: grid;
        grid-template-columns: 50% 50%;

        @media (max-width: 768px) {
          grid-template-columns: 100%;
        }

        &:hover {
          transition: all 250ms ease 0s;
          transform: scale(1.02);
        }

        &--content {
          &--header,
          &--about,
          &--tech,
          &--links {
            margin: 1.5rem 0;
          }

          &--header {
            font-size: 1.8rem;
          }
          &--about {
            color: $grey;
            line-height: 2;
          }

          &--tech {
            font-weight: bold;
            span {
              margin-right: 2rem;
            }
          }

          &--links {
            a {
              color: $white;
              font-size: 2.5rem;
              margin-right: 2rem;

              &:hover {
                color: $primary-40;
              }
            }
          }
        }
      }
    }

    // Contact
    .contact {
      margin: 20rem 0;

      &__header {
        margin: 4rem 0;
        h2 {
          font-size: 3rem;
          span {
            font-family: "Fira Code", monospace;
          }
          @media (max-width: 768px) {
            font-size: 2.5rem;
          }
        }
      }

      &__details {
          display: grid;
          grid-template-columns: 50% 50%;
          align-items: center;

          @media (max-width: 768px) {
            grid-template-columns: 100%;
          }

          .mail-link {
              color: $grey;
          }
          .social-links {

            display: flex;
            justify-content: space-evenly;

            @media (max-width: 768px) {
                margin: auto;
                margin-top: 100px;
                justify-content: space-between;
                width: 80%;
              }
              a {
                  text-decoration: none;
                  color: $white;
                  font-size: 4rem;
              }
          }
      }
    }
  }
}
